*{
    margin: 0;
    padding: 0;
}

body{
    border: #b87a40;
    background-color:aliceblue;
    color:#b87a40; 
}
a{
    text-decoration: none;
    color: #b87a40;
}

/*  media for max width */
@media only screen and (max-width: 426px) {
.linkButton{
    border: 1px solid #b87a40;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 5px;
    margin: 3%;
    margin-top: 19px; 
    box-shadow: 2px 2px #2e1c0bf1;
}

header{
    background-color:#154551;
    /* border: 1px solid #b87a40; */
    display: grid;
    grid-template-columns:  33% 33% 33% ;
    height: 200px;
    margin-bottom: 1%;
}

nav{
    grid-template-columns:  33% 33% 33% ;
    grid-column-start: 1;
    grid-column-end: 3;
}

#brand{
    /* border: 1px solid #b87a40; */
    border-radius: 10px;
    justify-self: center;
    
}

#menu{
    /* border: 1px solid #b87a40; */
    border-radius: 10px;
    justify-self: center;
    
}

#box{
    display: grid;
    grid-row: 50% 100% 50%;
}

#nav_bar{
    background-color:#154551;
    /* border: 1px solid #b87a40; */
    height: 100px;
    text-align: center;
    padding-top: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    
    
}

#navigation{
    /* border: 1px solid #b87a40; */
    height: 70px;
    padding-top: 15px;
}

#main{
    background-color:#154551;
    /* border: 1px solid #b87a40; */
    height: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

#main_content{
    /* border: 1px solid #b87a40; */
    height: 342px;
    text-align: center;
    padding-top: 140px;   
}

#side_bar{
    background-color:#154551;
    /* border: 1px solid #b87a40; */
    height: 100px;
    text-align: center;
    padding-top: 10%;
    margin-top: 1%;
    margin-bottom: 1%;        
}

#ads{
    /* border: 1px solid #b87a40; */
    height: max-content;
    padding-top: 20px;        
}

#footer{
    background-color:#154551;
    /* border: 1px solid #b87a40; */
    display: grid;
    grid-template-columns:  100%;
    grid-column: 100%;
    text-align: center;
    margin-top: 1%;
}

#footer_container{
    /* border: 1px solid #b87a40; */
    height: 70px;
    padding-top: 50px;
}
}

/*  media for max width */
@media only screen and (min-width: 427px){

#header{
    background-color:#154551;
    /* border: 3px solid #b87a40; */
    height: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4%;
}

#brand{
    border: 1px solid #b87a40;
    border-radius: 10px;
    justify-self: center;
    padding: 5px
}

#menu{
    border: 1px solid #b87a40;
    border-radius: 10px;
    justify-self: center;
    padding: 5px;
}

#box{
    /* border: 1px solid #b87a40; */
    height: 600px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center; 
}

#nav_bar{
    background-color:#154551;
    /* border: 3px solid #b87a40; */
    text-align: center;
    padding-top: 260px;
    margin: 0.4%;    
}

#main{
    background-color:#154551;
    /* border: 3px solid #b87a40; */
    text-align: center;
    padding-top: 260px;
    margin: 0.4%; 
}

#side_bar{
    background-color:#154551;
    /* border: 3px solid #b87a40; */
    text-align: center;
    padding-top: 260px;
    margin: 0.4%;  
}

#footer{
    background-color:#154551;
    /* border: 3px solid #b87a40; */
    height: 100px;
    display: grid;
    grid-row: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0.4%;  
        
}

#footer_container{
        /* border: 1px solid #b87a40; */
        width: 100%;
        /* height: 100px; */
        padding-top: 40px;   
}
}