*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    color: #b87a40;
}
a{
    text-decoration: none;
    color: #b87a40;
    text-align: center;
}
@media only screen and (max-width: 426px){

header{
    background-color: #154551;
    border: 2px solid #b87a40;
    border-radius: 10px;
    width: 1;
    height: 90px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 2px;   
}
nav{
    justify-content: center;
}

#container1{
    /* border: 2px solid #b87a40; */
    border-radius: 10px;
    width: 100%;
    height: 70px;
    background-color: #154551;
    text-align: center;
}
#brand{
    border: 2px solid #b87a40;
    border-radius: 10px;
    width: 100px;
    float: left;
}
#menu{
    border: 2px solid#b87a40;
    border-radius: 10px;
    width: 100px;
    float: right;
}
#box{
    /* border: 2px solid #b87a40; */
    width: 1;
    height: 500px;
    /* background-color:#154551; */
}
#nav_bar{
    height: 60px;
    width: 1;
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color:#154551;
    margin-bottom: 5px;
}
#navigation{
    text-align: center;
    padding-top: 20px;
    margin: 2px;
}
#main{
    height: 304px;
    width: 1;
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color:#154551;
    text-align: center; 
    margin: 2px;

}
#side_bar{
    height: 110px;
    width: 98%;
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color:#154551;
    text-align: center;
    margin: 2px;
    float: left;
}
#footer{
    width: 1;
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color: #154551;
    height: 70px;
    text-align: center;
    padding-top: 40px;
}
}


@media only screen and (min-width: 426px) {
#header{
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color: #154551;
    width: 1;
    height: 50px;
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 100px;   
}
#brand{
    border: 2px solid #b87a40;
    border-radius: 10px;
    width: 60px;
    float: left;
}
#menu{
    border: 2px solid #b87a40;
    border-radius: 10px;
    width: 60px;
    float: right;
}
#box{
    display: block;
    width: 99%;
    /* border: 2px solid #b87a40; */
    height: 550px;
    background-color: black;
}
#nav_bar{
    border:2px solid #b87a40;
    border-radius: 10px;
    background-color: #154551;
    float: left;
    width: 22%;
    height: 99%;
    margin: 2px;
    margin-left: 1%;
}
#main{
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color: #154551;
    width: 49%;
    height: 99%;
    float: left;
    margin: 2px;
}
#side_bar{
    border: 2px solid #b87a40;
    border-radius: 10px;
    background-color: #154551;
    float: left;
    width: 22.8%;
    height: 99%;
    margin: 2px;

    
}
#footer{
    margin: 2px;
    background-color: #154551;
    border: 2px solid #b87a40;
    border-radius: 10px;
    height: 100px;
}
}


