@media only screen and (max-width: 426px){
    /* set default */
    *{
        margin: 0;
        padding: 0;
    }
    /* remove underline links */
    a{
        text-decoration: none;
        color: #b87a40;
    }
    /* all h3 have text-shadow */
    h3, h2, footer, .linkButton{
        text-shadow: 2px 2px #2e1c0bf1;
    }
    .linkButton{
        display: flex;
        border: 1px solid #b87a40;
        border-radius: 10px;
        width: 90px;
        height: 20px;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 5px;
        margin: 3%;
        margin-top: 19px; 
        box-shadow: 2px 2px #2e1c0bf1;
    }
    body{
        /* border: 1px solid red; */
        max-width: 426px;
        background-color: black;
        color: #b87a40;
        width: 100%;
    }
    header{
        display: flex;
        width: 100%;
        margin-bottom: 2px;
    }
    #container1{
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 100%;
        height: 99px;
        background-color: #154551;
        text-align: center;
        padding-top: 50px;
    }
    nav{
        display: flex;
        margin-bottom: 2px;
    }
    #container2{
        display: flex;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 100%;
        height: 70px;
        background-color: #154551;
        justify-content: center;
    }
    main{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .container{
        display: flex;
        width: 100%;
        height: fit-content;
        border: 3px solid #b87a40;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 2px;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    h4{
        color:#b87a40;
    }
    
    p{
        color:#b87a40;
    }
    .text-block {
        position: absolute;
        margin-top: 16px;
        margin-left: 20px;
        background-color:#154551ea;
        border: 1px solid #b87a40;
        border-radius: 10px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    .text-block1 {
        position: absolute;
        margin-top: 75%;
        margin-left: 20px;
        background-color:#154551ed;
        border: 1px solid #b87a40;
        border-radius: 10px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    aside{
        width: 99%;
        height: 220px;
        border: 2px solid #b87a40;
        border-radius: 10px;
        background-color: #154551;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 2px;
    }
    #container3{
        overflow: hidden;
        margin-top: 4%;
    }
    iframe{
        border: 2px solid #b87a40;
        border-radius: 10px;
        box-shadow: 2px 2px #140d06ea;
    }
    footer{
        height: 35px;
        border: 2px solid #b87a40;
        border-radius: 10px;
        background-color: #154551;
        text-align: center;
        padding-top: 20px;
    }
    }
    /* End viewport 426 */
    @media only screen and (min-width: 426px){
    *{
        margin: 0;
        padding: 0;
    }
    
    a{
        text-decoration: none;
        color: #b87a40;
    }
    /* all h3 have text-shadow */
    h3, h2, footer, .linkButton{
        text-shadow: 2px 2px #2e1c0bf1;
    }
    .linkButton{
        display: flex;
        border: 1px solid #b87a40;
        border-radius: 10px;
        width: 90px;
        height: 20px;
        justify-content: center;
        text-align: center;
        padding: 5px;
        margin: 14%;
        margin-top: 19px;
        margin-left: 7px; 
        box-shadow: 2px 2px #2e1c0bf1;
    }
    body{
        /* border: 1px solid red; */
        background-color: black;
        color: #b87a40;
        width: 100%;
    }
    header{
        width: 100%;
        margin-bottom: 4px;
    }
    #container1{
        display: block;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 1;
        height: 99px;
        background-color: #154551;
        text-align: center;
        padding-top: 50px;
    }
    #mainContent{
        display: inline-flex;
        width: 100%;
    }
    nav{
        display: flex;
        width: 30%;
          
    }
    #container2{
        display: flex;
        flex-direction: column;
        background-color: #154551;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 100%;
        justify-content: center;
        padding-left: 4%;
        text-align: center;
        align-items: center;
    }
    main{
        background-color: #154551;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 40%;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
    }
    .container{
        overflow: hidden;
        padding-top: 10px;
    }
    .text-block{
        display: flex;
        border: 2px Solid #b87a40;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        box-shadow: 2px 2px#080502e8;
    }
    .text-block1{
        border: 2px Solid #b87a40;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        box-shadow: 2px 2px#080502e8;
    }
    img{
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 90%;
        box-shadow: 2px 2px #241609e8;
    }
    aside{
        
        background-color:#154551;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 30%;
        text-align: center;
        margin-left: 2px;
    }
    iframe{
        margin-top: 20px;
        border: 2px solid #b87a40;
        border-radius: 10px;
        box-shadow: 2px 2px #221407e1;
    }
    footer{
        display: flex;
        background-color:#154551;
        border: 2px solid #b87a40;
        border-radius: 10px;
        width: 1;
        height: 50px;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
        margin-top: 3px;
    }       
    }
    
    